### C—Ö–µ–º–∞ –ë–î 
<img src="olist_er_diagram.png" width="600" height="400">

### –û–ø–∏—Å–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

<div style="text-align: left;">

  <h4 style="text-align: left;">üßë‚Äçüíº –¢–∞–±–ª–∏—Ü–∞ <code>customers</code> (–ö–ª–∏–µ–Ω—Ç—ã)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>customer_id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–ª–∏–µ–Ω—Ç–∞</td>
      </tr>
      <tr>
        <td>customer_unique_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–ª–∏–µ–Ω—Ç–∞ (–Ω–µ—Å–∫–æ–ª—å–∫–æ –∑–∞–∫–∞–∑–æ–≤ –æ–¥–Ω–æ–≥–æ –∫–ª–∏–µ–Ω—Ç–∞)</td>
      </tr>
      <tr>
        <td>customer_zip_code_prefix</td>
        <td>–ü–æ—á—Ç–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å –∫–ª–∏–µ–Ω—Ç–∞</td>
      </tr>
      <tr>
        <td>customer_city</td>
        <td>–ì–æ—Ä–æ–¥ –∫–ª–∏–µ–Ω—Ç–∞</td>
      </tr>
      <tr>
        <td>customer_state</td>
        <td>–®—Ç–∞—Ç –∫–ª–∏–µ–Ω—Ç–∞</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
  <h4 style="text-align: left;">üì¶ –¢–∞–±–ª–∏—Ü–∞ <code>orders</code> (–ó–∞–∫–∞–∑—ã)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>order_id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞</td>
      </tr>
      <tr>
        <td>customer_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–ª–∏–µ–Ω—Ç–∞</td>
      </tr>
      <tr>
        <td>order_status</td>
        <td>–°—Ç–∞—Ç—É—Å –∑–∞–∫–∞–∑–∞</td>
      </tr>
      <tr>
        <td>order_purchase_timestamp</td>
        <td>–í—Ä–µ–º—è —Å–æ–∑–¥–∞–Ω–∏—è –∑–∞–∫–∞–∑–∞</td>
      </tr>
      <tr>
        <td>order_approved_at</td>
        <td>–í—Ä–µ–º—è –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–µ–Ω–∏—è –æ–ø–ª–∞—Ç—ã</td>
      </tr>
      <tr>
        <td>order_delivered_carrier_date</td>
        <td>–í—Ä–µ–º—è –ø–µ—Ä–µ–¥–∞—á–∏ –∑–∞–∫–∞–∑–∞ —Å–ª—É–∂–±–µ –¥–æ—Å—Ç–∞–≤–∫–∏</td>
      </tr>
      <tr>
        <td>order_delivered_customer_date</td>
        <td>–í—Ä–µ–º—è –¥–æ—Å—Ç–∞–≤–∫–∏ –∫–ª–∏–µ–Ω—Ç—É</td>
      </tr>
      <tr>
        <td>order_estimated_delivery_date</td>
        <td>–ü–ª–∞–Ω–∏—Ä—É–µ–º–∞—è –¥–∞—Ç–∞ –¥–æ—Å—Ç–∞–≤–∫–∏</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
  <h4 style="text-align: left;">üìë –¢–∞–±–ª–∏—Ü–∞ <code>order_items</code> (–¢–æ–≤–∞—Ä—ã –≤ –∑–∞–∫–∞–∑–∞—Ö)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–ø–∏—Å–∏</td>
      </tr>
      <tr>
        <td>order_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞</td>
      </tr>
      <tr>
        <td>order_item_id</td>
        <td>–ù–æ–º–µ—Ä —Ç–æ–≤–∞—Ä–∞ –≤ –∑–∞–∫–∞–∑–µ</td>
      </tr>
      <tr>
        <td>product_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Ç–æ–≤–∞—Ä–∞</td>
      </tr>
      <tr>
        <td>seller_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –ø—Ä–æ–¥–∞–≤—Ü–∞</td>
      </tr>
      <tr>
        <td>shipping_limit_date</td>
        <td>–°—Ä–æ–∫ –ø–µ—Ä–µ–¥–∞—á–∏ —Ç–æ–≤–∞—Ä–∞ –¥–ª—è –¥–æ—Å—Ç–∞–≤–∫–∏</td>
      </tr>
      <tr>
        <td>price</td>
        <td>–¶–µ–Ω–∞ —Ç–æ–≤–∞—Ä–∞</td>
      </tr>
      <tr>
        <td>freight_value</td>
        <td>–°—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ—Å—Ç–∞–≤–∫–∏</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
  <h4 style="text-align: left;">üéÅ –¢–∞–±–ª–∏—Ü–∞ <code>products</code> (–¢–æ–≤–∞—Ä—ã)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>product_id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Ç–æ–≤–∞—Ä–∞</td>
      </tr>
      <tr>
        <td>product_category_name</td>
        <td>–ö–∞—Ç–µ–≥–æ—Ä–∏—è —Ç–æ–≤–∞—Ä–∞ (–Ω–∞ –ø–æ—Ä—Ç—É–≥–∞–ª—å—Å–∫–æ–º)</td>
      </tr>
      <tr>
        <td>product_name_lenght</td>
        <td>–î–ª–∏–Ω–∞ –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–æ–≤–∞—Ä–∞</td>
      </tr>
      <tr>
        <td>product_description_lenght</td>
        <td>–î–ª–∏–Ω–∞ –æ–ø–∏—Å–∞–Ω–∏—è —Ç–æ–≤–∞—Ä–∞</td>
      </tr>
      <tr>
        <td>product_photos_qty</td>
        <td>–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏–π —Ç–æ–≤–∞—Ä–∞</td>
      </tr>
      <tr>
        <td>product_weight_g</td>
        <td>–í–µ—Å —Ç–æ–≤–∞—Ä–∞ (–≥)</td>
      </tr>
      <tr>
        <td>product_length_cm</td>
        <td>–î–ª–∏–Ω–∞ —Ç–æ–≤–∞—Ä–∞ (—Å–º)</td>
      </tr>
      <tr>
        <td>product_height_cm</td>
        <td>–í—ã—Å–æ—Ç–∞ —Ç–æ–≤–∞—Ä–∞ (—Å–º)</td>
      </tr>
      <tr>
        <td>product_width_cm</td>
        <td>–®–∏—Ä–∏–Ω–∞ —Ç–æ–≤–∞—Ä–∞ (—Å–º)</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
  <h4 style="text-align: left;">üè™ –¢–∞–±–ª–∏—Ü–∞ <code>sellers</code> (–ü—Ä–æ–¥–∞–≤—Ü—ã)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>seller_id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –ø—Ä–æ–¥–∞–≤—Ü–∞</td>
      </tr>
      <tr>
        <td>seller_zip_code_prefix</td>
        <td>–ü–æ—á—Ç–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å –ø—Ä–æ–¥–∞–≤—Ü–∞</td>
      </tr>
      <tr>
        <td>seller_city</td>
        <td>–ì–æ—Ä–æ–¥ –ø—Ä–æ–¥–∞–≤—Ü–∞</td>
      </tr>
      <tr>
        <td>seller_state</td>
        <td>–®—Ç–∞—Ç –ø—Ä–æ–¥–∞–≤—Ü–∞</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
  <h4 style="text-align: left;">üó∫Ô∏è –¢–∞–±–ª–∏—Ü–∞ <code>geolocation</code> (–ì–µ–æ–¥–∞–Ω–Ω—ã–µ)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å—Ç—Ä–æ–∫–∏</td>
      </tr>
      <tr>
        <td>geolocation_zip_code_prefix</td>
        <td>–ü–æ—á—Ç–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å</td>
      </tr>
      <tr>
        <td>geolocation_lat</td>
        <td>–®–∏—Ä–æ—Ç–∞</td>
      </tr>
      <tr>
        <td>geolocation_lng</td>
        <td>–î–æ–ª–≥–æ—Ç–∞</td>
      </tr>
      <tr>
        <td>geolocation_city</td>
        <td>–ù–∞–∑–≤–∞–Ω–∏–µ –≥–æ—Ä–æ–¥–∞</td>
      </tr>
      <tr>
        <td>geolocation_state</td>
        <td>–®—Ç–∞—Ç</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
 <h4 style="text-align: left;">üí¨ –¢–∞–±–ª–∏—Ü–∞ <code>order_reviews</code> (–û—Ç–∑—ã–≤—ã)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ç–∑—ã–≤–∞</td>
      </tr>
      <tr>
        <td>review_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ç–∑—ã–≤–∞ –æ—Ç –∫–ª–∏–µ–Ω—Ç–∞</td>
      </tr>
      <tr>
        <td>order_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞</td>
      </tr>
      <tr>
        <td>review_score</td>
        <td>–û—Ü–µ–Ω–∫–∞ –∑–∞–∫–∞–∑–∞ (1-5)</td>
      </tr>
      <tr>
        <td>review_comment_title</td>
        <td>–ó–∞–≥–æ–ª–æ–≤–æ–∫ –æ—Ç–∑—ã–≤–∞</td>
      </tr>
      <tr>
        <td>review_comment_message</td>
        <td>–¢–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞</td>
      </tr>
      <tr>
        <td>review_creation_date</td>
        <td>–î–∞—Ç–∞ —Å–æ–∑–¥–∞–Ω–∏—è –æ—Ç–∑—ã–≤–∞</td>
      </tr>
      <tr>
        <td>review_answer_timestamp</td>
        <td>–î–∞—Ç–∞ –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –æ—Ç–∑—ã–≤</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: left;">
 <h4 style="text-align: left;">üí≥ –¢–∞–±–ª–∏—Ü–∞ <code>order_payments</code> (–ü–ª–∞—Ç–µ–∂–∏)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>id</strong></td>
        <td>–£–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –ø–ª–∞—Ç–µ–∂–∞</td>
      </tr>
      <tr>
        <td>order_id</td>
        <td>–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞</td>
      </tr>
      <tr>
        <td>payment_sequential</td>
        <td>–ü–æ—Ä—è–¥–∫–æ–≤—ã–π –Ω–æ–º–µ—Ä –ø–ª–∞—Ç–µ–∂–∞ –≤ –∑–∞–∫–∞–∑–µ</td>
      </tr>
      <tr>
        <td>payment_type</td>
        <td>–¢–∏–ø –ø–ª–∞—Ç–µ–∂–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, credit_card, boleto)</td>
      </tr>
      <tr>
        <td>payment_installments</td>
        <td>–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç–µ–∂–µ–π (—Ä–∞—Å—Å—Ä–æ—á–∫–∞)</td>
      </tr>
      <tr>
        <td>payment_value</td>
        <td>–°—É–º–º–∞ –ø–ª–∞—Ç–µ–∂–∞</td>
      </tr>
    </tbody>
  </table>
</div>

<h4 style="text-align: left;">üåê –¢–∞–±–ª–∏—Ü–∞ <code>product_category_name_translation</code> (–ü–µ—Ä–µ–≤–æ–¥ –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Ç–æ–≤–∞—Ä–æ–≤)</h4>
  <table style="margin: 0;">
    <thead>
      <tr>
        <th>–°—Ç–æ–ª–±–µ—Ü</th>
        <th>–û–ø–∏—Å–∞–Ω–∏–µ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>product_category_name</td>
        <td>–ù–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –Ω–∞ –ø–æ—Ä—Ç—É–≥–∞–ª—å—Å–∫–æ–º —è–∑—ã–∫–µ</td>
      </tr>
      <tr>
        <td>product_category_name_english</td>
        <td>–ù–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º —è–∑—ã–∫–µ</td>
      </tr>
    </tbody>
  </table>
</div>

### –¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞:
–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å, –∫–∞–∫ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ã–µ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ (–ø—Ä–æ–º–æ-–∞–∫—Ü–∏–∏, email-—Ä–∞—Å—Å—ã–ª–∫–∏, —Ç–∞—Ä–≥–µ—Ç–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —Ä–µ–∫–ª–∞–º–∞) –≤–ª–∏—è—é—Ç –Ω–∞ –ø–æ–≤–µ–¥–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ –≤—ã—Ä—É—á–∫—É –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–∞. –ü—Ä–æ–≤–µ—Ä–∏—Ç—å –≥–∏–ø–æ—Ç–µ–∑—ã, –ø—Ä–æ–≤–µ—Å—Ç–∏ A/B —Ç–µ—Å—Ç—ã –∏ –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å —Å—Ü–µ–Ω–∞—Ä–∏–∏ –¥–ª—è –º–∞–∫—Å–∏–º–∏–∑–∞—Ü–∏–∏ –ø—Ä–∏–±—ã–ª–∏.

–ò—Å—Ç–æ—á–Ω–∏–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
* –û—Ç–∫—Ä—ã—Ç—ã–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö Olist Brazilian E-Commerce (https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce)
* –î–∞–Ω–Ω—ã–µ –ø–æ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ã–º –∫–∞–º–ø–∞–Ω–∏—è–º (—Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞—Ç—å —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ –Ω–∞ –æ—Å–Ω–æ–≤–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–µ–≥–æ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö, –¥–æ–±–∞–≤–∏–≤ –∏—Å–∫—É—Å—Å—Ç–≤–µ–Ω–Ω—ã–µ —Ä–µ–∫–ª–∞–º–Ω—ã–µ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –∏ —Å–µ–≥–º–µ–Ω—Ç—ã)

–ò—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏ –∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã:
* –°–£–ë–î: PostgreSQL
* Python: pandas, numpy, scipy, statsmodels, PySpark (–¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –±–æ–ª—å—à–∏—Ö –æ–±—ä–µ–º–æ–≤ –¥–∞–Ω–Ω—ã—Ö)
* –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è: PowerBI –∏–ª–∏ Tableau
* Airflow (–æ–ø—Ü–∏–æ–Ω–∞–ª—å–Ω–æ, –¥–ª—è –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞–Ω–Ω—ã—Ö)
* GitHub, Jira, Confluence

In [4]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError
from tqdm import tqdm
from dotenv import load_dotenv

In [6]:
load_dotenv()  # –ó–∞–≥—Ä—É–∂–∞–µ—Ç –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞ .env

True

In [8]:
connection_string = os.getenv("DB_CONN")
engine = create_engine(connection_string)

In [10]:
def select(sql):
    return pd.read_sql(sql, engine)

In [12]:
sql = '''
SELECT *
FROM geolocation
LIMIT (5)
'''

In [14]:
select(sql)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,id
0,1037,-23.545621,-46.639292,sao paulo,SP,1
1,1046,-23.546081,-46.644820,sao paulo,SP,2
2,1046,-23.546129,-46.642951,sao paulo,SP,3
3,1041,-23.544392,-46.639499,sao paulo,SP,4
4,1035,-23.541578,-46.641607,sao paulo,SP,5